<div class="mx-auto card my-3 text-dark bg-warning border-dark">
        <img
            [src]="recipe.imagePath"
            class="card-img-top"
            style="max-height: 100px; object-fit: cover;"
            alt="{{ recipe.name }}"
        >
        <div class="card-body d-flex justify-content-between">
            <div>
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
            </div>
            <div>
                <a href="#" class="btn btn-outline-dark" routerLink="/recipe/{{ recipe.name }}">Details</a>
            </div>
        </div>
</div>
