<form>
    <div class="row mb-3">
      <div class="col-9">
          <label for="name" class="form-label">Ingredient Name:</label>
          <input type="text" name="name" [(ngModel)]="_item.name" class="form-control" id="name">
      </div>
      <div class="col-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="number" name="quantity" class="form-control" [(ngModel)]="_item.quantity" min="1" id="quantity">
      </div>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-success mb-3">Add</button>
        <button type="button" class="btn btn-danger mb-3">Delete</button>
        <button type="button" class="btn btn-primary">Clear</button>
    </div>
</form>