<form (ngSubmit)="onAddItem()" #form="ngForm">
    <div class="row mb-3">
      <div class="col-9">
          <label
            for="name"
            class="form-label"
          >
            Ingredient Name:
          </label>
          <input
            type="text"
            name="name"
            ngModel
            class="form-control"
            required
            id="name"
            #name="ngModel"
          >
        <div class="invalid" *ngIf="name.invalid && name.touched">This cannot be blank!</div>
        <div class="valid" *ngIf="name.valid && name.touched">That's fine!</div>
      </div>
      <div class="col-3">
          <label
            for="quantity"
            class="form-label">
            Quantity
          </label>
          <input
            type="number"
            name="quantity"
            class="form-control"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
            id="quantity"
            #quantity="ngModel"
          >
        <div class="invalid" *ngIf="quantity.invalid && quantity.touched">Seriously?</div>
        <div class="valid" *ngIf="quantity.valid && quantity.touched">That's fine!</div>
      </div>
    </div>
    <div class="d-grid">
      <div class="d-grid" [ngClass]="{'not-allowed': form.invalid}">
        <button
          type="submit"
          class="btn btn-success mb-3"
          [disabled]="form.invalid"
        >
          {{ isEditingIngredient ? 'Edit' : 'Add' }}
        </button>
      </div>

        <button
          type="button"
          class="btn btn-danger mb-3"
          [disabled]="!isEditingIngredient"
          (click)="onItemDelete()"
        >Delete</button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onFormClear()"
        >Clear</button>
    </div>
</form>
